<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/mainbasic}"  >

<head>
  <meta charset="UTF-8">
  <title>프로젝트 비밀번호 확인</title>
</head>

<th:block layout:fragment="content">

  <div style="width: 100%;height: 60rem; position: relative;">
    <div class="bg-curve" style="background-image: url('/img/core-img/curve.png'); background-repeat: no-repeat; height:40rem; width:60%; position: absolute; right: 0;z-index: -5;"></div>

    <div class="login-form-bg h-100">
      <div class="container h-100">
        <div class="row justify-content-center h-100">
          <div class="col-xl-6">
            <div class="form-input-content" style="margin-top: 10rem">
              <div class="card login-form mb-0">
                <div class="card-body pt-5">
                  <a class="text-center" th:href="@{/project/checkpw}"> <h4>[[${projectName}]]</h4></a>

                  <form class="mt-5 mb-5 login-input" action="/project/checkpw" method="post">

                    <th:block th:if="${not #strings.isEmpty(msg)}">
                        <p style="color: red;">[[${msg}]]</p>
                    </th:block>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="프로젝트 비밀번호" name="projectPw">
                    </div>
                      <input type="hidden" name="pid" th:value="${pid}">
                      <input type="hidden" name="projectName" th:value="${projectName}">
                    <button class="btn login-form__btn submit w-100">프로젝트 이동</button>
                  </form>

                  <p class="mt-5 login-form__footer">프로젝트를 직접 생성해보세요! <a th:href="@{/member/register}" class="text-primary">프로젝트생성</a> now</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</th:block>

</html>