<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>프로젝트 홈</title>

  <th:block layout:fragment="css">


  </th:block>


</head>

<th:block layout:fragment="content">

  <div class="row">

    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h1>안녕하세요 테스트 여기는 [[${projectName}]] 프로젝트</h1>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h1>안녕하세요 테스트2</h1>


        </div>
      </div>
    </div>
  </div>

</th:block>


</html>