<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/mainbasic}"  >

<head>
  <meta charset="UTF-8">
  <title>프로젝트 리스트</title>


  <th:block layout:fragment="css">

    <style>


    </style>

  </th:block>
</head>

<th:block layout:fragment="content">

  <!--**********************************
              Content body start
          ***********************************-->
  <div class="content-body" style="margin-top: 7rem;">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Groovus</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">프로젝트</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card" style="align-items: center;">
            <div class="card-body" style="width: 60rem;">
              <h4 class="card-title">프로젝트 목록</h4>


              <div>
                <!--검색창-->
                <form action="/project/list" method="get" name="searchForm">
                <div class="input-group icons" style="width: 27rem;">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" >
                      <i class="fa-solid fa-magnifying-glass" name="searchBtn" style="cursor: pointer;"></i>
                    </span>
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1">
                      <select name="type">
                        <option value="">----</option>
                        <option value="t" th:selected="${pageRequestDTO.type =='t'}">프로젝트명</option>
                        <option value="w" th:selected="${pageRequestDTO.type =='w'}">Admin</option>
                        <option></option>
                      </select>
                     </span>
                  </div>
                  <input type="text" class="form-control" placeholder="검색어 입력" aria-label="Search Dashboard" name="keyword" th:value="${pageRequestDTO.keyword}">
                  <input type="hidden" name="mid" th:value="${mid}">
                </div>
                </form>
                <!--검색창 끝-->
                <button type="button" class="btn mb-1 btn-info" onclick="location.href='/main/register'" style="float: right;">프로젝트생성</button>
             </div>
              <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                  <thead>
                  <tr>
                    <th style="text-align: center">프로젝트명</th>
                    <th style="text-align: center">설명</th>
                    <th style="text-align: center">Admin</th>
                    <th style="text-align: center">멤버</th>
                    <th style="text-align: center">생성일</th>
                    <th style="text-align: center">이동</th>
                    <th style="text-align: center">삭제</th>
                  </tr>
                  </thead>
                  <tbody>

                  <th:block th:if="${#lists.isEmpty(responseDTO.dtoList)}">


                    <tr>

                      <td colspan="7" style="text-align: center; height: 10rem;"><b>프로젝트가 존재하지 않습니다.</b></td>

                    </tr>

                  </th:block>

                  <th:block th:each="project : ${responseDTO.dtoList}">
                    <tr>
                      <td> [[${project.projectName}]] </td>
                      <td> [[${project.projectDescription}]] </td>
                      <td> [[${project.adminUid}]] </td>
                      <td> [[${project.memberCount}]] </td>
                      <td> [[${#temporals.format(project.regDate, 'yyyy/MM/dd')}]] </td>
                      <td> <button type="button" class="btn mb-1 btn-info" th:onclick="|location.href='@{'/project/' + ${project.pid} + '/' + ${project.projectName}}'|">이동</button> </td>
                      <th:block th:with="user=${#authentication.principal}">
                        <th:block th:if="${user.uid eq project.adminUid}">
                          <td> <button type="button" class="btn mb-1 btn-danger" th:onclick="|location.href='@{'/project/' + ${project.pid} + '/' + ${project.projectName}}?type=delete'|">삭제</button></td>
                        </th:block>
                        <th:block th:unless="${user.uid eq project.adminUid}">
                          <td> <button type="button" class="btn mb-1 btn-danger" disabled >삭제</button></td>
                        </th:block>
                      </th:block>

                    </tr>
                  </th:block>
                 <!--   <tr>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                  </tr>-->

                  </tbody>
<!--                  <tfoot>
                  <tr>
                    <th>프로젝트명</th>
                    <th>설명</th>
                    <th>Admin</th>
                    <th>멤버</th>
                    <th>생성일</th>
                    <th>이동</th>
                  </tr>
                  </tfoot>-->
                </table>
                <!--페이징-->
                <div class="bootstrap-pagination">
                  <nav>
                    <ul class="pagination justify-content-end">
                      <li class="page-item" th:if="${responseDTO.prev}"><a class="page-link" th:data-num="1"><b><<</b></a>
                      </li>

                      <th:block th:each="i : ${#numbers.sequence(1,responseDTO.lastPage)}">
                        <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                          <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                        </li>
                      </th:block>

                      <li class="page-item" th:if="${responseDTO.next}">
                        <a class="page-link" th:data-num="${responseDTO.lastPage}"><b>>></b></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              <!--페이징 끝-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
      Content body end
  ***********************************-->

  <script th:inline="javascript">

      $(document).ready(function (){

      $("a.page-link").on("click", function (event) {

        event.preventDefault(); // 링크의 기본 동작을 중단합니다.

        var pageNum = $(this).data("num");
        var mid = [[${mid}]];
        var type = [[${pageRequestDTO.type}]];
        var keyword = [[${pageRequestDTO.keyword}]];

        if(type != null && keyword!=null){
          var url = '/project/list?page=' + pageNum + '&mid=' + mid+'&type='+type+'&keyword='+keyword;
        }else{
          var url = '/project/list?page=' + pageNum + '&mid=' + mid;
        }
        window.location.href = url; // 새로운 URL로 이동합니다.
      });


      $("i[name='searchBtn']").on("click",function (e){
        e.preventDefault();

        $("form[name='searchForm']").submit();

      });

    });



  </script>



</th:block>

</html>