<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/mainbasic}"  >

<head>
  <meta charset="UTF-8">
  <title>프로젝트 리스트</title>
</head>

<th:block layout:fragment="content">


  <!--**********************************
              Content body start
          ***********************************-->
  <div class="content-body" style="margin-top: 7rem;">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Groovus</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">프로젝트</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card" style="align-items: center;">
            <div class="card-body" style="width: 60rem;">
              <h4 class="card-title">프로젝트 목록</h4>
              <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                  <thead>
                  <tr>
                    <th style="text-align: center">프로젝트명</th>
                    <th style="text-align: center">설명</th>
                    <th style="text-align: center">Admin</th>
                    <th style="text-align: center">멤버</th>
                    <th style="text-align: center">생성일</th>
                    <th style="text-align: center">이동</th>
                    <th style="text-align: center">삭제</th>
                  </tr>
                  </thead>
                  <tbody>

                  <th:block th:if="${#lists.isEmpty(projectList)}">


                    <tr>

                      <td colspan="7" style="text-align: center; height: 10rem;"><b>프로젝트가 존재하지 않습니다.</b></td>

                    </tr>

                  </th:block>


                  <th:block th:each="project : ${projectList}">
                    <tr>
                      <td> [[${project.projectName}]] </td>
                      <td> [[${project.projectDescription}]] </td>
                      <td> [[${project.adminUid}]] </td>
                      <td> [[${project.memberCount}]] </td>
                      <td> [[${#temporals.format(project.regDate, 'yyyy/MM/dd')}]] </td>
                      <td> <button type="button" class="btn mb-1 btn-info" th:onclick="|location.href='@{'/project/' + ${project.pid} + '/' + ${project.projectName}}'|">이동</button> </td>
                      <th:block th:with="user=${#authentication.principal}">
                        <th:block th:if="${user.uid eq project.adminUid}">
                          <td> <button type="button" class="btn mb-1 btn-danger" th:onclick="|location.href='@{'/project/' + ${project.pid} + '/' + ${project.projectName}}?type=delete'|">삭제</button></td>
                        </th:block>
                        <th:block th:unless="${user.uid eq project.adminUid}">
                          <td> <button type="button" class="btn mb-1 btn-danger" disabled >삭제</button></td>
                        </th:block>
                      </th:block>

                    </tr>
                  </th:block>
                 <!--   <tr>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                        <td> [[${mid}]] </td>
                  </tr>-->

                  </tbody>
<!--                  <tfoot>
                  <tr>
                    <th>프로젝트명</th>
                    <th>설명</th>
                    <th>Admin</th>
                    <th>멤버</th>
                    <th>생성일</th>
                    <th>이동</th>
                  </tr>
                  </tfoot>-->
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
      Content body end
  ***********************************-->


</th:block>

</html>