<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>드라이브</title>
  <th:block layout:fragment="css">

    <style>

      #logoImg{
        background-color: #2de3f1;
      }

    </style>

  </th:block>
</head>




<th:block layout:fragment="content">




  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
      </div>
    </div>

 <!--   업로드
    <input name="uploadFiles" type="file" multiple>
    <button class="uploadBtn">업로드</button> -->
    <form action="/drive/drive" method="get" id="searchForm">
      <div class="input-group">
        <input type="hidden" name="page" value="1">

        <input type="hidden" name="type" value="tw">
        <input class="form-control" name="keyword" placeholder="제목 또는 작성자를 입력하세요" th:value="${pageRequestDTO.keyword}">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary btn-search" type="submit">검색</button>
        </div>
      </div>
    </form>


    <button class="btn btn-primary" id="registerBtn" data-toggle="modal" data-target=".fileModal">글 등록</button>

    <!-- 글등록 모달로 나오게 하기 위한 나의 꿈 -->
    <div class="fileModal modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">등록</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>제목</label>
              <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
              <label>파일 선택</label>
              <input type="file" class="form-control-file" name="file">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
        </div>

      </div>
    </div>
    <!-- 글등록 모달 여기까지 -->



    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>

    <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Data Table</h4>
            <div class="table-responsive">
              <table class="table table-striped table-bordered zero-configuration">
                <thead>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">제목</th>
                  <th scope="col">수정일</th>
                  <th scope="col">작성자</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="dto : ${result.dtoList}" >
                  <th scope="row">[[${dto.bno}]]</th>
                  <td>[[${dto.title}]]</td>
                  <td>[[${#temporals.format(dto.regdate, 'yyyy/MM/dd')}]]</td>
                  <td>[[${dto.nickname}]]</td>

                </tr>
                </tbody>

              </table>


              <!-- 페이지 -->
              <ul class="pagination h-100 justify-content-center align-items-center">

                <!-- 페이지 전으로 -->
                <li class="page-item " th:if="${result.prev}">
                  <a class="page-link" th:href="@{/drive/drive(page= ${result.start -1})}" tabindex="-1">Previous</a>
                </li>
                <!-- 페이지 숫자 -->
                <li th:class=" 'page-item ' + ${result.page == page?'active':''} "
                    th:each="page: ${result.pageList}">
                  <a class="page-link" th:href="@{/drive/drive(page = ${page})}">
                    [[${page}]]
                  </a>
                </li>
                <!-- 페이지 다음으로 -->
                <li class="page-item" th:if="${result.next}">
                  <a class="page-link" th:href="@{/drive/drive(page = ${result.end +1})}">Next</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #/ container -->
  </div>




  <script>
    $(document).ready(function() {
      $('#saveBtn').click(function() {
        var title = $('input[name="title"]').val();
        var file = $('input[name="file"]')[0].files[0];
        var formData = new FormData();
        formData.append('title', title);
        formData.append('file', file);

        $.ajax({
          url: '/drive/register', // 저장을 처리하는 엔드포인트 경로
          type: 'POST',
          processData: false,
          contentType: false,
          data: formData,
          success: function(response) {
            console.log(response);
            // 저장이 성공하면 모달을 닫거나 다른 동작을 수행할 수 있습니다.
            // 예를 들어, 모달을 닫고 화면을 새로고침하는 등의 동작을 수행할 수 있습니다.
            $('.fileModal').modal('hide');
            location.reload(); // 저장 후 화면 새로고침
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus);
            // 오류 처리를 수행할 수 있습니다.
          }
        });
      });
    });
  </script>


</th:block>




</html>