<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>드라이브</title>

    <th:block layout:fragment="css">

        <style>

            #logoImg{
                background-color: #2de3f1;
            }

        </style>

    </th:block>
</head>

<th:block layout:fragment="content">

    <div class="row">

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1>드라이브</h1>

                    <!-- 검색 -->
                    <div class="row mt-3">
                        <form action="/drive/drive" method="get">
                            <div class="col">
                                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                                <input type="hidden" name="type" value="tw">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 까지 검색-->

                    <!-- 등록 버튼-->
                    <div class="float-end">
                        <button type="button" class="btn btn-primary registerBtn">등록</button>
                    </div>

<!--                    <div class="float-end">-->
<!--                        <button type="button" class="btn btn-danger moveToTrashBtn">삭제</button> &lt;!&ndash; 휴지통으로 &ndash;&gt;-->
<!--                    </div>-->


                    <table class="table">
                        <thead>
                        <tr>
<!--                            <th scope="col"></th>-->
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">수정일</th>
                        </tr>
                        </thead>

                        <tbody th:with="link = ${pageRequestDTO.getLink()}">

                        <tr th:each="dto:${responseDTO.dtoList}">
<!--                            <td>-->
<!--                                <input type="checkbox" name="selectedItems" th:value="${dto.bno}" class="form-check-input">-->
<!--                            </td>-->

                            <th scope="row">[[${dto.bno}]]</th>
                            <td>
                                <a th:href="|@{/drive/read(bno =${dto.bno})}&${link}|" class="text-decoration-none"> [[${dto.title}]] </a>
                            </td>
                            <td>[[${dto.nickname}]]</td>
                            <td>[[${#temporals.format(dto.regdate, 'yyyy-MM-dd')}]]</td>
                        </tr>


                        </tbody>

                    </table>

                    <!-- 페이지 -->
                    <div class="float-end">
                        <ul class="pagination flex-wrap">

                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start - 1}"><</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>

                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end + 1}">></a>
                            </li>

                        </ul>
                    </div> <!-- 까지 페이지-->

                </div>
            </div>
        </div>
    </div> <!-- row -->

    <!-- 모달 -->
   <!-- <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>-->
    <!-- 까지 모달-->

    <script layout:fragment="script" th:inline="javascript">
        document.querySelector(".pagination").addEventListener("click", function (e) {
            e.preventDefault()
            e.stopPropagation()

            const target = e.target

            if(target.tagName !== 'A') {
                return
            }

            const num = target.getAttribute("data-num")

            const formObj = document.querySelector("form")

            formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

            formObj.submit();

        }, false)




    </script>

    <script layout:fragment="script" th:inline="javascript">
        document.querySelector(".registerBtn").addEventListener("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            window.location.href = "/drive/register";
        });
    </script>

</th:block>

</html>