<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>수정</title>

    <th:block layout:fragment="css">

        <style>

            #logoImg{
                background-color: #2de3f1;
            }

        </style>

    </th:block>
</head>

<th:block layout:fragment="content">

    <div class="row">

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1>수정</h1>

                    <form th:action="@{/drive/modify}" method="post" id="f1">
                    <div class="input-group mb-3">
                        <span class="input-group-text">번호</span>
                        <input type="text" class="form-control" th:value="${dto.bno}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">제목</span>
                        <input type="text" class="form-control" name="title" th:value="${dto.title}">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" class="form-control" th:value="${dto.nickname}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">파일</span>
                        <div class="float-end uploadHidden">
                            <button type="button" class="btn btn-primary uploadFileBtn">파일 추가</button>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">등록일</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regdate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">수정일</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.moddate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">목록</button>
                                <button type="button" class="btn btn-secondary modBtn">수정완료</button>
                                <button type="button" class="btn btn-danger removeBtn">삭제</button>
                            </div>
                        </div>
                    </form>

                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-lg-6 col-md-12 -->
    </div> <!-- row -->

    <!—- 첨부 파일 섬네일을 보여줄 부분 -->
    <div class="row mt-3">
        <div class="col ">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                <th:block th:each="fileName:${dto.fileNames}">
                    <div class="card col-4" th:with = "arr = ${fileName.split('_')}">
                        <div class="card-header d-flex justify-content-center">
                            [[${arr[1]}]]
                            <button class="btn-sm btn-danger"
                                    th:onclick="removeFile([[${arr[0]}]], [[${arr[1]}]], this)">X</button>
                        </div>
                        <div class="card-body">
                            <img th:src="|/upload/s_${fileName}|" th:data-src="${fileName}" >
                        </div>
                    </div><!-- card -->
                </th:block>
            </div>
        </div>
    </div>

    <!-- 첨부파일 추가 모달창 -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">업로드 파일</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <<input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">업로드</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/upload.js"></script>

    <script layout:fragment="script" th:inline="javascript">

        const errors = [[${errors}]]
        console.log(errors)

        let errorMsg = ''

        if(errors){
            for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
            }
            history.replaceState({}, null, null)
            alert(errorMsg)
        }

        const link = [[${pageRequestDTO.getLink()}]]
        const formObj = document.querySelector("#f1")

        document.querySelector(".modBtn").addEventListener("click", function(e){
            e.preventDefault()
            e.stopPropagation()

            formObj.action = `/drive/modify?${link}`
            formObj.method ='post'
            formObj.submit()


        }, false)

        document.querySelector(".removeBtn").addEventListener("click", function(e){
            e.preventDefault()
            e.stopPropagation()

            formObj.action = `/drive/remove`
            formObj.method ='post'
            formObj.submit()
        }, false)

        document.querySelector(".listBtn").addEventListener("click", function(e){
            e.preventDefault()
            e.stopPropagation()

            formObj.reset()
            self.location =`/drive/drive${link}`

        }, false)
        /* 첨부파일 삭제 */
        const removeFileList = []

        function removeFile(uuid, fileName, obj){
            if(!confirm("파일을 삭제하시겠습니까?")){
                return
            }

            console.log(uuid)
            console.log(fileName)

            console.log(obj)

            removeFileList.push({uuid,fileName})

            const targetDiv = obj.closet(".card")
            targetDiv.remove()
        }

        //업로드 모달
        const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

        document.querySelector(".uploadFileBtn").addEventListener("click", function(e){

            e.stopPropagation()
            e.preventDefault()
            uploadModal.show()

        }, false)

        document.querySelector(".uploadBtn").addEventListener("click", function(e){

            const formObj = new FormData();

            const fileInput = document.querySelector("input[name='files']")

            console.log(fileInput.files)

            const files = fileInput.files

            for (let i = 0; i < files.length; i++) {
                formObj.append("files", files[i]);
            }


            uploadToServer(formObj).then(result => {
                console.log(result)
                //console.log(result)
                for (const uploadResult of result) {
                    showUploadFile(uploadResult)
                }
                uploadModal.hide()
            }).catch(e => {
                uploadModal.hide()
            })

        },false)

        const uploadResult = document.querySelector(".uploadResult")

        function showUploadFile({uuid, fileName, link}){

            const str =`<div class="card col-4">
            <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >X</button>
            </div>
            <div class="card-body">
                 <img src="/upload/${link}" data-src="${uuid+"_"+fileName}" >
            </div>
        </div><!-- card -->`

            uploadResult.innerHTML += str
        }
    </script>
</th:block>

</html>