<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>읽기</title>

  <th:block layout:fragment="css">

    <style>

      #logoImg{
        background-color: #8d8d8d;
      }

    </style>

  </th:block>
</head>

<th:block layout:fragment="content">

  <div class="row">

    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h1>읽기</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>제목</label>
    <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
  </div>




  <script>
    $(document).ready(function (e){

    });
  </script>

</th:block>

</html>