<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>읽기</title>

    <th:block layout:fragment="css">

        <style>

            #logoImg{
                background-color: #2de3f1;
            }

        </style>

    </th:block>
</head>

<th:block layout:fragment="content">

    <div class="row">

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1>읽기</h1>

                    <div class="input-group mb-3">
                        <span class="input-group-text">번호</span>
                        <input type="text" class="form-control" th:value="${dto.bno}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">제목</span>
                        <input type="text" class="form-control" th:value="${dto.title}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" class="form-control" th:value="${dto.nickname}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">등록일</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regdate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">수정일</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.moddate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>

                    <div class="my-4">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">

                            <a th:href="|@{/drive/drive}?${link}|" class="text-decoration-none">

                                <button type="button" class="btn btn-primary">List</button>
                            </a>
                            <a th:href="|@{/drive/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">

                                <button type="button" class="btn btn-secondary">Modify</button>
                            </a>
                        </div>
                    </div>

                </div> <!-- card-body -->


                <!-- 파일 다운로드 링크 추가 -->
                <div class="col">
                    <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                        <div class="card-header">
                            Attachments
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:each="fileName: ${dto.fileNames}">
                                <a th:href="@{'/download/' + ${fileName}}" download th:text="${fileName}">Download</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col">
                    <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                        <img class="card-img-top"
                             th:each="fileName: ${dto.fileNames}"
                             th:src="|/view/${fileName}|">
                    </div>
            </div> <!-- card -->
        </div> <!-- col-lg-6 col-md-12 -->
    </div> <!-- row -->

</th:block>

</html>