<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/mainbasic}" >

<head>
  <!-- Title -->
  <title>GroovUs - About</title>

</head>


<th:block layout:fragment="content">
  <!-- ***** Top Search Area Start ***** -->
  <div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Close Button -->
            <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <!-- Form -->
            <form action="main.html" method="post">
              <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Top Search Area End ***** -->

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area">
    <div class="container h-100">
      <div class="row h-100 align-items-end">
        <div class="col-12">
          <div class="breadcumb--con">
            <h2 class="title">About Us</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="main.html"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** About Us Area Start ***** -->
  <section class="mona-about-us-area mb-30 section-padding-80-0">
    <div class="container">
      <div class="row">

        <!-- About Us Thumbnail -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="about-us-thumbnail mb-50">
            <span class="line"></span>
            <img th:src="@{/img/bg-img/taskPlay1.gif}" alt="">
            <span class="line2"></span>
          </div>
        </div>

        <!-- About Us Thumbnail -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="about-us-thumbnail mb-50">
            <span class="line"></span>
            <img th:src="@{/img/bg-img/messagePlay.gif}" alt="">
            <span class="line2"></span>
          </div>
        </div>


        <!-- About Us Content -->
        <div class="col-12 col-lg-4">
          <div class="about-us-content mb-50">
            <h2>GroovUs</h2>
            <p>협업에 필요한 주요기능을 구현한 프로젝트 협업툴 사이트 'GroovUs' 입니다.</p>
            <p>주요기능[ 공지사항 / 프로젝트 관리 / 댓글관리 / 업무관리 / 쪽지함 / 캘린더 / 공유 드라이브 / 화상회의 및 채팅 ]</p>
          </div>
        </div>

        <!-- About Us Thumbnail -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="about-us-thumbnail mb-50">
            <span class="line"></span>
            <img th:src="@{/img/bg-img/conferencePlay.gif}" alt="">
            <span class="line2"></span>
          </div>
        </div>
        <!-- About Us Thumbnail -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="about-us-thumbnail mb-50">
            <span class="line"></span>
            <img th:src="@{/img/bg-img/calendarPlay.gif}" alt="">
            <span class="line2"></span>
          </div>
        </div>

      </div>
    </div>

    <!-- Single Service Area -->
    <div class="container">
      <div class="service-area mt-80">
        <div class="row">

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50">
              <i class="fa-regular fa-clipboard"></i>
              <h5>손쉬운 업무 등록</h5>
              <p>업무를 등록하여 담당자를 지정할 수 있습니다.</p>
              <p>업무가 등록되면 업무의 진행 상태를 변경 할 수 있습니다. (할일 / 진행중 / 보류 / 완료)</p>
              <p>프로젝트 멤버들은 댓글로 서로 소통할 수 있습니다.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50">
              <i class="icon_calendar"></i>
              <h5>탁월한 일정 관리</h5>
              <p>팀원들과 함께 일정을 관리함으로 보다 편하고 즐거운 업무 효율을 기대해 보세요.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50">
              <i class="fa-solid fa-video"> </i>
              <h5>화상채팅(제목)</h5>
              <p>화샹채팅(내용)</p>
            </div>
          </div>
          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50">
              <i class="fa-solid fa-envelope"></i>
              <h5>쪽지 전송</h5>
              <p>프로젝트 멤버들끼리 쪽지를 전송할 수 있습니다.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Us Area End ***** -->

  <!-- ***** Core Value Area Start ***** -->
  <section class="mona-core-value-area bg-gray section-padding-80-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>GroovUs 프로젝트</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="mona-benefits-area mb-80">

            <!-- Single Benefits Area -->
            <div class="single-benefits-area d-flex mb-30">
              <!-- Icon -->
              <div class="benefits-icon">
                <i class="fa-solid fa-gear"></i>
              </div>
              <!-- Content -->
              <div class="benefits-content">
                <h5>개발 환경</h5>
                <h5>BE : Java, Gradle, JPA, Querydsl</h5>
                <h5>FE : JavaScript, jQuery, Thymeleaf</h5>
                <h5>Framework : Spring Boot, Spring Security</h5>
                <h5>DB : PostgreSQL</h5>
                <h5>배포환경 : AWS EC2, Docker</h5>
                <h5>VCS : git&github</h5>
              </div>
            </div>


          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="mona-benefits-area mb-80">

            <!-- Single Benefits Area -->
            <div class="single-benefits-area d-flex mb-30">
              <!-- Icon -->
              <div class="benefits-icon">
                <i class="fa-solid fa-clock"></i>
              </div>
              <!-- Content -->
              <div class="benefits-content">
                <h5>개발 기간</h5>
                <h5>24.04.22일 - 24.05.13일 (약 3주)</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Core Value Area End ***** -->

  <!-- ***** Team Area Start ***** -->
  <section class="mona-team-area section-padding-80-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Team - GroovUs</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Team Member Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-member-area mb-80">
            <div class="team-member-thumbnail">
              <!-- Thumbnail -->
              <img th:src="@{/img/bg-img/22.jpg}" alt="">

              <!-- Share Info -->
              <div class="share-info">
                <!-- Share Icon -->
                <div class="share-icon">
                  <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                </div>
                <!-- Others Icon -->
                <div class="others-icon">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <h4>김정은</h4>
              <h6>로그인</h6>
              <h6>프로젝트 생성</h6>
              <h6>업무 관리/댓글</h6>
              <h6>쪽지함</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-member-area mb-80">
            <div class="team-member-thumbnail">
              <!-- Thumbnail -->
              <img th:src="@{/img/bg-img/23.jpg}" alt="">

              <!-- Share Info -->
              <div class="share-info">
                <!-- Share Icon -->
                <div class="share-icon">
                  <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                </div>
                <!-- Others Icon -->
                <div class="others-icon">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <h4>김수영</h4>
              <h6>화상채팅/채팅</h6>
              <h6>공지사항</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-member-area mb-80">
            <div class="team-member-thumbnail">
              <!-- Thumbnail -->
              <img th:src="@{/img/bg-img/24.jpg}" alt="">

              <!-- Share Info -->
              <div class="share-info">
                <!-- Share Icon -->
                <div class="share-icon">
                  <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                </div>
                <!-- Others Icon -->
                <div class="others-icon">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <h4>조영주</h4>
              <h6>공유드라이브</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-member-area mb-80">
            <div class="team-member-thumbnail">
              <!-- Thumbnail -->
              <img th:src="@{/img/bg-img/25.jpg}" alt="">

              <!-- Share Info -->
              <div class="share-info">
                <!-- Share Icon -->
                <div class="share-icon">
                  <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                </div>
                <!-- Others Icon -->
                <div class="others-icon">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <h4>김근휘</h4>
              <h6>공유캘린더</h6>
              <h6>일정관리</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Team Area End ***** -->


  <!-- ***** CTA Area Start ***** -->
  <section class="mona-cta-area section-padding-80">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta-content">
            <h2>깃허브 주소가 궁금하신가요?</h2>
            <h6></h6>
            <a href="https://github.com/kimjeong-eun/Spring-Boot-project-Groovus.git" class="btn mona-btn">깃허브 구경하기</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CTA Area End ***** -->
</th:block>
</html>