<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/mainbasic}"  >

<head>
  <!-- Title -->
  <title>GroovUs - Functions</title>
</head>


<th:block layout:fragment="content">
<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area">
  <div class="container h-100">
    <div class="row h-100 align-items-end">
      <div class="col-12">
        <div class="breadcumb--con">
          <h2 class="title">Project</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Project</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ***** Mona Projects Area Start ***** -->
<section class="mona-projects-area section-padding-80-0 mb-50">
  <div class="container">
    <div class="row mona-portfolio">

      <!-- Single Projects Item -->
      <div class="col-12 col-sm-6 col-lg-3 single_gallery_item mb-30">
        <div class="single-project-area" style=" width: 28rem;">
          <img th:src="@{/img/bg-img/31.jpg}" alt="">
          <!-- Hover Content -->
          <div class="hover-content d-flex align-items-center">
            <div class="hover-text">
              <h4>일정 관리</h4>
              <h6>추후 내용 추가</h6>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Projects Item -->
      <div class="col-12 col-sm-6 col-lg-3 single_gallery_item mb-30">
        <div class="single-project-area" style="width: 170%;transform: translate(275px, 1px);">
          <img th:src="@{/img/bg-img/33.jpg}" alt="">
          <!-- Hover Content -->
          <div class="hover-content d-flex align-items-center">
            <div class="hover-text">
              <h4>Herbert Newman</h4>
              <h6>Model: Clifford Colon</h6>
              <h6>Make-up: Terry Gomez</h6>
              <h6>Photographer: Floyd Warner</h6>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Projects Item -->
      <div class="col-12 col-sm-6 col-lg-6 single_gallery_item mb-30">
        <div class="single-project-area" style="width: 28rem;transform: translate(-573px, 450px);">
          <img th:src="@{/img/bg-img/35.jpg}" alt="">
          <!-- Hover Content -->
          <div class="hover-content d-flex align-items-center">
            <div class="hover-text">
              <h4>Herbert Newman</h4>
              <h6>Model: Clifford Colon</h6>
              <h6>Make-up: Terry Gomez</h6>
              <h6>Photographer: Floyd Warner</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Mona Projects Area End ***** -->

</th:block>
</html>