<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/mainbasic}"  >

<head>
    <!-- Title -->
    <title>Welcome GroovUs</title>

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="wrapper">
        <div class="cssload-loader"></div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="monaNav">

                <!-- Background Curve -->
                <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>

                <!-- Logo -->
                <a class="nav-brand" th:href="@{/}"><img th:src="@{/img/core-img/logo.png}" alt=""><img th:src="@{/img/core-img/logo2.png}" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav" style=" width: 46rem;">
                            <li class="nav-create-project-btn" th:type="button"><a th:href="@{/main/register}">GroovUs</a></li>
                            <li class="current-item"><a th:href="@{/}">GroovUs Home</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li class="dropdown-list"><a th:href="@{/}" style="color: black;">- GroovUs Home</a></li>
                                    <li class="dropdown-list"><a th:href="@{/main/about}" style="color: black;">- About Us</a></li>
                                    <li class="dropdown-list"><a th:href="@{/main/function}" style="color: black;">- Functions</a></li>
                                    <li class="dropdown-list"><a th:href="@{/main/register}" style="color: black;">- GroovUs</a></li>
                                    <li class="dropdown-list"><a th:href="@{/member/login}" style="color: black;">- Login</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/main/about}">About Us</a></li>
                            <li><a th:href="@{/main/function}">Functions</a></li>
                            <li><a th:href="@{/member/login}">Login</a></li>
                            <li><a th:href="@{/member/join}">Sign Up</a></li>
                        </ul>

                        <!-- Search Icon -->
                        <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                            <i class="icon_search"></i>
                        </div>
                    </div>

                    <!-- Nav End -->

                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Top Search Area Start ***** -->
<div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close Button -->
                    <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <!-- Form -->
                    <form action="main.html" method="post">
                        <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Top Search Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<th:block layout:fragment="content">
    <section class="welcome-area">
        <!-- Welcome Slides -->
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>
                <!-- Main Background Image -->
                <div class="main-bg-img bg-img bg-img-1" data-animation="fadeInUpBig" data-delay="200ms" ></div>
                <!--style="background-image: url('../img/bg-img/18.jpeg'); width: 20px; border-radius: 20px; top: 20%"-->

                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInUp" data-delay="400ms">협업의 비전, 우리의 혁신<br>
                                </h2>
                                <h5 data-animation="bounceInUp" data-delay="600ms">GroovUs에서 발견하다.</h5>
                                <th:block sec:authorize="isAuthenticated()">
                                    <a th:href="@{/main/register}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                                <th:block sec:authorize="isAnonymous()">
                                    <a th:href="@{/member/login}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pager -->
                <div class="slide-pager">
                    <a th:href="@{/}">GroovUs</a>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>
                <!-- Main Background Image -->
                <div class="main-bg-img bg-img bg-img-1" data-animation="fadeInUpBig" data-delay="200ms"></div>
                <!--style="background-image: url('../img/bg-img/45.jpeg');"-->

                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInUp" data-delay="400ms">즉각적인 의사소통,<br>
                                    거리를 초월하는 협업</h2>
                                <h5 data-animation="bounceInUp" data-delay="600ms">언제 어디서나 함께 일하세요.</h5>
                                <!--프로젝트 생성전 임시로 추가부분 (원래 프로젝트 생성으로 이동해야함-->
                                <th:block sec:authorize="isAuthenticated()">
                                    <a th:href="@{/main/register}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                                <th:block sec:authorize="isAnonymous()">
                                    <a th:href="@{/member/login}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pager -->
                <div class="slide-pager">
                    <a href="#">실시간 화상회의 및 채팅</a>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>
                <!-- Main Background Image -->
                <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" ></div>
                <!--style="background-image: url('../img/bg-img/19.jpg');"-->

                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInUp" data-delay="400ms">효율적인 일정관리<br>
                                </h2>
                                <h5 data-animation="bounceInUp" data-delay="600ms">팀원들과 함께 일정을 관리하며 협업의 유익을 누려보세요.</h5>
                                <th:block sec:authorize="isAuthenticated()">
                                    <a th:href="@{/main/register}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                                <th:block sec:authorize="isAnonymous()">
                                    <a th:href="@{/member/login}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pager -->
                <div class="slide-pager">
                    <a href="#">일정관리</a>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>
                <!-- Main Background Image -->
                <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" ></div>
                <!--style="background-image: url('../img/bg-img/20.jpg');"-->

                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInUp" data-delay="400ms">목표를 달성하기 위한 <br>
                                    체계적인 계획</h2>
                                <h5 data-animation="bounceInUp" data-delay="600ms">진행중인 프로젝트를 한 눈에 확인해 보세요.</h5>
                                <th:block sec:authorize="isAuthenticated()">
                                    <a th:href="@{/main/register}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                                <th:block sec:authorize="isAnonymous()">
                                    <a th:href="@{/member/login}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pager -->
                <div class="slide-pager">
                    <a href="#">프로젝트 관리</a>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>
                <!-- Main Background Image -->
                <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" ></div>
                <!--style="background-image: url('../img/bg-img/20.jpg');"-->

                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInUp" data-delay="400ms">진정한 소통의 귀재, <br>
                                    파일 관리의 혁신</h2>
                                <h5 data-animation="bounceInUp" data-delay="600ms">자유롭게 공유하고, 함께 발전하세요!</h5>
                                <th:block sec:authorize="isAuthenticated()">
                                    <a th:href="@{/main/register}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                                <th:block sec:authorize="isAnonymous()">
                                    <a th:href="@{/member/login}" class="btn main-create-project-btn" data-animation="bounceInUp" data-delay="800ms">프로젝트 생성 <i class="arrow_right"></i></a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pager -->
                <div class="slide-pager">
                    <a href="#">드라이브</a>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** About Us Area Start ***** -->
    <section class="mona-about-us-area mb-30 section-padding-80-0">
        <div class="container">
            <div class="row">

            <!-- About Us Thumbnail -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <span class="line"></span>
                    <img src="./img/bg-img/16.jpg" alt="">
                    <span class="line2"></span>
                </div>
            </div>

            <!-- About Us Thumbnail -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="400ms">
                    <span class="line"></span>
                    <img src="./img/bg-img/17.jpg" alt="">
                    <span class="line2"></span>
                </div>
            </div>

            <!-- About Us Content -->
            <div class="col-12 col-lg-4">
                <div class="about-us-content mb-50 wow fadeInUp" data-wow-delay="700ms">
                    <h2>GroovUs</h2>
                    <p>추후 소개글 업로드 예정</p>
                    <p>추후 소개글 업로드 예정2</p>
                </div>
            </div>
        </div>
    </div>

        <!-- Single Service Area -->
        <div class="container">
            <div class="service-area mt-80">
                <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <i class="icon_film"></i>
                        <h5>화상 채팅(제목)</h5>
                        <p>화상 채팅 기능 소개</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
                        <i class="icon_calendar"></i>
                        <h5>탁월한 일정관리</h5>
                        <p>팀원들과 함께 일정을 관리함으로 보다 편하고 즐거운 업무 효율을 기대해 보세요.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
                        <i class="icon_camera_alt"></i>
                        <h5>프로젝트 관리(제목)</h5>
                        <p>프로젝트 관리(내용)</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
                        <i class="icon_house_alt"></i>
                        <h5>드라이브(제목)</h5>
                        <p>드라이브(내용)</p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

<!-- ***** Client Feedback Area Start ***** -->
<section class="clients-feedback-area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="slider slider-for">

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Nazrul Islam</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Williams Rodney</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Client Thumbnail Area -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="slider slider-nav">
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/6.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/7.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/8.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/6.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/7.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Client Feedback Area End ***** -->

<!-- ***** CTA Area Start ***** -->
<section class="mona-cta-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content">
                    <h2>Do You Want To Be A Partener?</h2>
                    <h6>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.</h6>
                    <a href="#" class="btn mona-btn">파트너사 신청하기</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Logo -->
                    <a href="#" class="d-block mb-4"><img th:src="@{/img/core-img/logo.png}" alt=""></a>
                    <p>Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante sit amet ante.</p>
                    <div class="copywrite-text">
                        <p>&copy;
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Our Link</h4>

                    <!-- Catagories Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="#">New Faces</a></li>
                            <li><a href="#">Model Of the Week</a></li>
                            <li><a href="#">Classic Women</a></li>
                            <li><a href="#">Privacy Terms</a></li>
                            <li><a href="#">Classic Men</a></li>
                            <li><a href="#">Conditions</a></li>
                            <li><a href="#">Hair & Styles</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Contact</h4>
                    <!-- Footer Content -->
                    <div class="footer-content mb-30">
                        <h4>+01-3-8888-6868</h4>
                        <h6>40 Baria Sreet 133/2 NewYork City</h6>
                    </div>
                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->

<!-- ******* All JS ******* -->
<!-- jQuery js -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All js -->
<script th:src="@{/js/mona.bundle.js}"></script>
<!-- Active js -->
<script th:src="@{/js/default-assets/active.js}"></script>

</body>

</html>