<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Mona - Model Agency HTML5 Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--jquery-->
  <script
          src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
          crossorigin="anonymous"></script>

  <!--fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gothic+A1&family=Jua&display=swap" rel="stylesheet">

  <!-- Title -->
  <title>Welcome GroovUs</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/quixlab-bootstrap-main/theme/images/groovusfavicon.png}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" th:href="@{/style.css}">

  <!-- 폰트 어썸 -->
  <script src="https://kit.fontawesome.com/c96d31bca3.js"
          crossorigin="anonymous"></script>

</head>

<body>
<!-- Preloader -->
<div id="preloader">
  <div class="wrapper">
    <div class="cssload-loader"></div>
  </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="monaNav">

        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>

        <!-- Logo -->
        <a class="nav-brand" th:href="@{/}"><img th:src="@{/img/core-img/logo.png}" alt=""><img th:src="@{/img/core-img/logo2.png}" alt=""></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">
          <!-- Menu Close Button -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>
          <!-- Nav Start -->
          <div class="classynav">
            <ul id="nav" style=" width: 48rem;">
              <li class="nav-create-project-btn" th:type="button" style="transform: translate(-14px, 0px);">
                <a th:href="@{/}">GroovUs</a></li>
              <li class="current-item"><a th:href="@{/}">GroovUs Home</a></li>
              <th:block sec:authorize="isAuthenticated()">
                <th:block th:with="user=${#authentication.principal}">
                  <li><a th:href="@{/project/list(mid=${user.mid})}"> Project </a>
                    <ul class="dropdown" th:name="projectListDropdown">
                      <!--<li class="dropdown-list"><a th:href="@{/}" style="color: black;">- GroovUs Home</a></li>
                      <li class="dropdown-list"><a th:href="@{/main/about}" style="color: black;">- About Us</a></li>
                      <li class="dropdown-list"><a th:href="@{/main/function}" style="color: black;">- Functions</a></li>
                      <li class="dropdown-list"><a th:href="@{/main/register}" style="color: black;">- GroovUs</a></li>-->
                    </ul>

                    <script th:inline="javascript">
                        var mid = [[${user.mid}]]

                      $(document).ready(function (){

                        $.ajax({
                          url:'/project/myproject',
                          method:'post',
                          data:{'mid':mid},
                          success:function (result){
                           /* console.log("성공");
                            console.log(result);*/
                            resultStr(result);

                          }
                        });

                        function resultStr(result){

                          var resultStr ='';

                          for(var project of result){
                            console.log(project);

                            resultStr += "<li class='dropdown-list'><a th:href='@{/project/"+project.pid+"/"+project.projectName+"}' style='color: black;font-size: 12px;'>"+project.projectName+"</a></li>";
                          }

                          $("ul[name='projectListDropdown']").append(resultStr);

                        }
                      });

                    </script>
                </th:block>
              </th:block>
              <th:block sec:authorize="isAnonymous()">
                <li><a th:href="@{/member/login}"> Project </a>
              </th:block>
              </li>
              <li><a th:href="@{/main/about}">About Us</a></li>
              <li><a th:href="@{/main/function}">Functions</a></li>
              <th:block sec:authorize="isAnonymous()">
                <li><a th:href="@{/member/login}">Login</a></li>
                <li><a th:href="@{/member/join}">Sign Up</a></li>
              </th:block>
              <th:block sec:authorize="isAuthenticated()" th:with="user=${#authentication.principal}">
                  <li><a th:href="@{/logout}">LogOut</a></li>
                <li><a><i class="fa-regular fa-user" aria-hidden="true"></i>[[${user.uname}]] 님</a></li>


              </th:block>

            </ul>

            <!-- Search Icon -->
            <div class="search-icon" data-toggle="modal" data-target="#searchModal">
              <i class="icon_search"></i>
            </div>
          </div>

          <!-- Nav End -->

        </div>
      </nav>
    </div>
  </div>
</header>
<!-- ***** Header Area End ****-->

<!-- ***** Top Search Area Start ***** -->
<div class="top-search-area">
  <!-- Search Modal -->
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Close Button -->
          <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
          <!-- Form -->
          <form action="main.html" method="post">
            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Top Search Area End ***** -->

<th:block layout:fragment="content">








</th:block>

<!-- ***** Footer Area Start ***** -->
<footer class="footer-area section-padding-80-0">
  <div class="container">
    <div class="row justify-content-between">

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="single-footer-widget mb-60">
          <!-- Logo -->
          <a href="#" class="d-block mb-4"><img th:src="@{/img/core-img/logo.png}" alt=""></a>
          <p>Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante sit amet ante.</p>
          <div class="copywrite-text">
            <p>&copy;
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="single-footer-widget mb-60">
          <!-- Widget Title -->
          <h4 class="widget-title">Our Link</h4>

          <!-- Catagories Nav -->
          <nav>
            <ul class="our-link">
              <li><a href="#">New Faces</a></li>
              <li><a href="#">Model Of the Week</a></li>
              <li><a href="#">Classic Women</a></li>
              <li><a href="#">Privacy Terms</a></li>
              <li><a href="#">Classic Men</a></li>
              <li><a href="#">Conditions</a></li>
              <li><a href="#">Hair & Styles</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Single Footer Widget -->
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="single-footer-widget mb-60">
          <!-- Widget Title -->
          <h4 class="widget-title">Contact</h4>
          <!-- Footer Content -->
          <div class="footer-content mb-30">
            <h4>+01-3-8888-6868</h4>
            <h6>40 Baria Sreet 133/2 NewYork City</h6>
          </div>
          <!-- Social Info -->
          <div class="footer-social-info">
            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- ***** Footer Area End ***** -->

<!-- ******* All JS ******* -->
<!-- jQuery js -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All js -->
<script th:src="@{/js/mona.bundle.js}"></script>
<!-- Active js -->
<script th:src="@{/js/default-assets/active.js}"></script>

</body>

</html>