<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>업무리스트</title>

    <th:block layout:fragment="css">

        <style>

            #logoImg{
                background-color: #0435d7;
            }

            .modal_{
                position:absolute;
                display:none;
                justify-content: center;
                top:0;
                left:0;
                z-index:99999;
                width:100%;
                height:100%;

                background-color: rgba(0,0,0,0.4);
            }

            .modal_body{
                position:absolute;
                top:5%; /* 모달을 화면가운데 놓기위함.  */

                width:50rem;  /* 모달의 가로크기  */
                height:55rem; /* 모달의 세로크기  */
                padding:40px;

                background-color: rgb(255,255,255);
                border-radius:10px;
                box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);

                transform:translateX(25%);
            }


        </style>

    </th:block>
</head>

<th:block layout:fragment="content">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">[[${projectName}]]</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Task</a></li>
            </ol>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="email-left-box">

                            <button type="button" class="btn btn-primary btn-block" style="background-color: #0435d7;" name="registerTaskBtn">업무등록</button>

                            <div class="mail-list mt-4">
                                <a href="#" class="list-group-item border-0 text-primary p-r-0"><span class="fa fa-briefcase f-s-14 mr-2"></span> <b>전체업무</b> <span class="badge badge-primary badge-sm float-right m-t-5" name="wholeTask">0</span> </a>
                                <a href="#" class="list-group-item border-0 p-r-0"><span class="fa fa-tags f-s-14 mr-2"></span>참조업무</a>
                                <a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i>중요업무 <span class="badge badge-danger badge-sm float-right m-t-5">47</span> </a>
                                <a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i>삭제업무</a>
                            </div>
                        </div>
                        <div class="email-right-box">
                            <div role="toolbar" class="toolbar">
                                <div class="btn-group">
                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle" type="button">More <span class="caret m-l-5"></span>
                                    </button>
                                    <div class="dropdown-menu"><span class="dropdown-header">More Option :</span>  <a href="javascript: void(0);" class="dropdown-item">Mark as Unread</a>  <a href="javascript: void(0);" class="dropdown-item">Add to Tasks</a>  <a href="javascript: void(0);" class="dropdown-item">Add Star</a>  <a href="javascript: void(0);" class="dropdown-item">Mute</a>
                                    </div>
                                </div>
                            </div>

                            <!--업무리스트 시작-->
                                    <div class="card-body" name="mainContent">
                                        <div name="mainList">
                                        <div class="card-title">
                                            <h4>[[${projectName}]]의 업무 목록</h4>
                                        </div>
                                        <div class="table-responsive" >
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>💼</th>
                                                    <th>업무제목</th>
                                                    <th>상태</th>
                                                    <th>등록일</th>
                                                    <th>담당자</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <th:block th:each="task ,i : ${responseDTO.dtoList}">
                                                        <tr>
                                                            <th>[[${i.index + responseDTO.start }]]</th>
                                                            <td name="readTask" th:data-tid="${task.tid}">[[${task.taskTitle}]]</td>
                                                            <td th:if="${#strings.equals(task.status, 'TODO')}"><span class="badge badge-success px-2">할 일</span></td>
                                                            <td th:if="${#strings.equals(task.status, 'INPROGRESS')}"><span class="badge badge-primary px-2">진행중</span></td>
                                                            <td th:if="${#strings.equals(task.status, 'BLOCK')}"><span class="badge badge-danger px-2">보류</span></td>
                                                            <td th:if="${#strings.equals(task.status, 'DONE')}"><span class="badge badge-light px-2">완료</span></td>
                                                            <td> [[${#temporals.format(task.regDate, 'yyyy/MM/dd')}]]</td>
                                                            <td class="color-primary">[[${task.responsibleMember}]]</td>
                                                        </tr>

                                                </th:block>
                                                </tbody>
                                            </table>
                                            <!--페이징-->
                                            <div class="bootstrap-pagination">
                                                <nav>
                                                    <ul class="pagination justify-content-end">
                                                        <li class="page-item" th:if="${responseDTO.prev}"><a class="page-link" th:data-num="1"><b><<</b></a>
                                                        </li>

                                                        <th:block th:each="i : ${#numbers.sequence(1,responseDTO.lastPage)}">
                                                            <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                                                <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                                            </li>
                                                        </th:block>

                                                        <li class="page-item" th:if="${responseDTO.next}">
                                                            <a class="page-link" th:data-num="${responseDTO.lastPage}"><b>>></b></a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <!--페이징 끝-->
                                        </div>
                                    </div>
                                    </div>
                            <!--업무리스트 끝-->

                            <!-- panel -->
                            <div class="row">
                               <!-- <div class="col-7">
                                    <div class="text-left">1 - 20 of 568</div>
                                </div>
                                <div class="col-5">
                                    <div class="btn-group float-right">
                                        <button class="btn btn-gradient" type="button"><i class="fa fa-angle-left"></i>
                                        </button>
                                        <button class="btn btn-dark" type="button"><i class="fa fa-angle-right"></i>
                                        </button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--모달창-->
    <div class="modal_">
        <div class="modal_body">
            <span  name="modal_close_btn" style="width: 3rem; height: 3rem; font-size: 30px; float:right ; margin-bottom: 1rem; cursor: pointer;"> X </span>
            <br/>

            <form name="taskForm" method="post" action="/task/register">
            <span><b>업무 제목</b></span>
            <input type="text" class="form-control input-default" placeholder="업무 제목 입력 (필수)" name="taskTitle" style="display: inline-block; width: 25rem; margin-left: 1rem;">
            <br/>
            <br/>
            <span><b>작성자</b></span>
            <input type="text" class="form-control input-default" name="taskWriter" th:value="${#authentication.principal.uid}" style="display: inline-block; width: 20rem; margin-left: 2rem;" readonly>
            <br/>
            <br/>
            <span><b>담당자</b></span>
            <select name="responsibleMember" style="width: 10rem; margin-left: 2rem; height: 2rem;">
                <option value="">------</option>
                <!--여기에 멤버들 보임-->

            </select>
    <!--        <span> <button type="button" class="btn btn-dark mb-2" name="addBtn" style=""> + </button> </span>-->

                <div class="card-body">
                    <span><b>첨부</b></span>
                    <div class="basic-form">
                            <div class="form-group">
                                <input type="file" class="form-control-file">
                            </div>
                    </div>
                </div>

                <!--에디터-->
                <!--'note-editable panel-body' 안에 들어감-->
                <div class="card">
                    <div class="card-body">
                        <div class="summernote" style="display: none;" method="post">
                            <h3>업무내용입력</h3>
                        </div>
                    </div>
                 </div>
                <!--에디터 끝-->

                <input type="hidden" name="taskContent" value="">
                <input type="hidden" name="pid" th:value="${pid}">
                <input type="hidden" name="projectName" th:value="${projectName}">
            </form>
            <button type="button" class="btn mb-1 btn-info" name="registerBtn">등록</button>
         </div>
    </div>
    <!--모달 끝-->

    <div name="taskDetailsArea">

        <!--업무 상세보기-->
        <div name="taskDetails" style="display: none">
            <span><button type="button" class="btn mb-1 btn-rounded btn-outline-light" name="readTaskBack">뒤로</button></span>
            <span><button type="button" class="btn mb-1 btn-rounded btn-outline-success" name="readTaskModify">수정</button></span>
            <span><button type="button" class="btn mb-1 btn-rounded btn-outline-danger" name="readTaskDelete">삭제</button></span>

            <!--숨김항목-->
            <input type="hidden" name="readTaskTid">

            <br/> <br/>
            <span><b>업무 제목</b></span>
            <input type="text" class="form-control input-default" name="readTaskTitle" style="display: inline-block; width: 25rem; margin-left: 1rem;" readonly>
            <br/> <br/>
            <span><b>상태</b></span>
            <select name="readTaskStatus" style="width: 10rem; margin-left: 3rem; height: 2rem;">
                <option value="TODO" name="status0" style="color: #6fd96f">할일</option>
                <option value="INPROGRESS"  name="status1" style="color: #4d7cff">진행중</option>
                <option value="BLOCK"  name="status2" style="color:#ff5e5e;">보류</option>
                <option value="DONE"  name="status3" style="color:#aaa;">완료</option>
            </select>

            <span><button type="button" class="btn mb-1 btn-info" name="statusChangeBtn" style="display: none">변경</button></span>

            <br/> <br/>
            <span><b>작성자</b></span>
            <input type="text" class="form-control input-default" name="readTaskWriter"  style="display: inline-block; width: 20rem; margin-left: 2rem;" readonly>
            <br/> <br/>
            <span><b>담당자</b></span>
            <input type="text" class="form-control input-default" name="readResponsibleMember"  style="display: inline-block; width: 20rem; margin-left: 2rem;" readonly>
            <br/> <br/>
            <span><b>작성일</b></span>
            <input type="text" class="form-control input-default" name="readTaskRegDate" style="display: inline-block; width: 25rem; margin-left: 2rem;" readonly>
            <br/> <br/> <br/>  <br/>
            <div name="readTaskContent" class="form-control input-default" style="height:auto;">

            </div>

            <button type="button" class="btn mb-1 btn-outline-primary btn-xs" name="showHistoryBtn">상태 변경 이력 보기</button>
            <button type="button" class="btn mb-1 btn-outline-primary btn-xs" name="closeHistoryBtn" style="display: none;">상태 변경 이력 닫기</button>
            <!--상태변경 히스토리-->
            <div name="history" style="display: none">
                <div class="card-body">
                    <div class="card-title">
                        <h4>상태변경 이력</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>변경일</th>
                                <th>변경전</th>
                                <th>변경후</th>
                                <th>변경자</th>
                            </tr>
                            </thead>
                            <tbody th:name="historyBody">



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--상태변경 히스토리 끝-->
        </div>
        <!--업무 상세보기창 끝-->


    </div>


    <!--스크립트-->
    <script th:inline="javascript">

        var pid = [[${pid}]];
        var PrevStatus; // 상태 변경시 저장될 임시 공간

        $(document).ready(function (){

            var mainList = $("div[name='mainList']");

            $(document).keydown(function(event){
                if(event.keyCode == 116) { // F5 키 눌렸을 때
                    event.preventDefault(); // 기본 동작 방지
                    var newUrl = "/project/task/"+[[${pid}]]+"/"+[[${projectName}]];
                    location.href = newUrl;
                }
            });

            /* ajax로 프로젝트에 속한 멤버들 정보를 얻어옴 */
            $.ajax({
                url:'/project/memberList',
                data:{'pid':pid},
                method:'post',
                success:function (result){
                    insertMemberList(result);
                }
            });

            /* ajax로 프로젝트의 전체 업무 개수를 얻어옴*/
            $.ajax({
                url:'/task/countall',
                type:'post',
                data:{'pid':pid},
                success:function (result){
                    $("span[name='wholeTask']").text(result);
                }
            })

            //업무 등록하기 버튼을 눌렀을 때
            $("button[name='registerTaskBtn']").on("click",function (e){
               e.preventDefault();
                $(".modal_").show();
            });

            //모달 닫기 버튼을 눌렀을 때
            $(document).on("click","span[name='modal_close_btn']",function(){
                $(".modal_").hide();
            });

            //멤버 리스트 출력
            function insertMemberList(result){

                var selectList = $("select[name='responsibleMember']");
                var str ='';
                for(var member of result){

                    str+='<option value="'+member.mid+'">'+member.uid+'</option>';

                }
                selectList.append(str);
            }

            //업무읽기에서 뒤로가기 버튼이 눌렸을 때
            $(document).on("click","button[name='readTaskBack']",function (e){
                e.preventDefault();

                $("button[name='showHistoryBtn']").show();
                $("button[name='closeHistoryBtn']").hide();
                $("button[name='statusChangeBtn']").hide();
                $("div[name='taskDetailsArea']").html( $("div[name='taskDetails']")); //업무 상세보기창 이동

                $("div[name='taskDetails']").hide(); //숨김
                $("div[name='history']").hide(); //숨김

                $("div[name='mainContent']").html(mainList); //메인콘텐츠공간에 메인리스트 이동
            });

            //업무 제목을 눌렀을때 (업무내용 보일예정)
            $(document).on("click","td[name='readTask']",function (e){

                e.preventDefault();
                var tid = $(this).data("tid");

                $.ajax({
                    url:'/task/view',
                    type:'post',
                    data:{'tid':tid},
                    success:function (result){
                        console.log(result);
                        readTask(result);
                    }
                });
            });

            //업무 읽기
            function readTask(result){

                var taskDetails = $("div[name='taskDetails']"); //업무 상세보기 창

                var selectStatus = $("select[name='readTaskStatus']");

                $("input[name='readTaskTid']").val(result.tid);
                $("input[name='readTaskTitle']").val(result.taskTitle);
                $("input[name='readTaskWriter']").val(result.taskWriter);
                $("input[name='readResponsibleMember']").val(result.responsibleMember);
                $("input[name='readTaskRegDate']").val(result.regDate);
                selectStatus.val(result.status);
                $("div[name='readTaskContent']").html(result.taskContent);

                PrevStatus = $("select[name='readTaskStatus']").val(); //상태 임시 저장

                taskDetails.show();

                $("div[name='mainContent']").html(taskDetails); //메인 콘텐츠쪽에 넣음
            }

        });

        //업무 상세보기 -> 상태변경 셀렉트 박스에 변경이 감지되면
       $("select[name='readTaskStatus']").change(function (){

           //변경 버튼 노출
           $("button[name='statusChangeBtn']").show();
       })

        //업무의 상세보기 -> 상태 변경 버튼이 눌렸을 때
        $("button[name='statusChangeBtn']").on("click",function (e){
            e.preventDefault();

            var tid = $("input[name='readTaskTid']").val()+"";
            var status = $("select[name='readTaskStatus']").val();
            var uid = [[${#authentication.principal.uid}]];
            var prevStatus = PrevStatus;
            //해당 업무의 상태를 변경
            $.ajax({
               url:'/task/changestatus',
               data:{'tid':tid,
                     'status':status,
                      'uid' : uid,
                      'prevStatus':prevStatus
               },
               type:'post',
               success:function(result){

                   location.reload();
               }
            });
        });

       //상태 변경이력보기 버튼이 눌렸다면
       $(document).on("click","button[name='showHistoryBtn']",function (e){
           e.preventDefault();
           $(this).hide();
           $("button[name='closeHistoryBtn']").show();

           var tid =  $("input[name='readTaskTid']").val();

           $.ajax({
              url:'/task/history',
              type:'post',
              data:{'tid':tid},
              success:function (result){
                  console.log(result);
                  showHistory(result);
              }
           });
       });

       $(document).on("click","button[name='closeHistoryBtn']",function (e){
           //상태 이력 보기 닫기버튼이 눌렸다면
           e.preventDefault();
           $(this).hide();
           $("button[name='showHistoryBtn']").show();

           $("div[name='history']").hide();
       });

       function showHistory(result){
            var str ='';

            if(result==null){

                str = "<b>상태 변경 이력이 존재하지 않습니다.</b>";

            }else {

                for(var i=0;i<result.length;i++){

                    var prevStatus;
                    var status;

                    if(result[i].status=='TODO'){
                        status='할일';
                    }else if(result[i].status=='INPROGRESS'){
                        status='진행중';
                    }else if(result[i].status=='BLOCK'){
                        status='보류';
                    }else if(result[i].status=='DONE'){
                        status='완료';
                    }

                    if(result[i].prevStatus=='TODO'){
                        prevStatus='할일';
                    }else if(result[i].prevStatus=='INPROGRESS'){
                        prevStatus='진행중';
                    }else if(result[i].prevStatus=='BLOCK'){
                        prevStatus='보류';
                    }else if(result[i].prevStatus=='DONE'){
                        prevStatus='완료';
                    }

                    str += "<tr><th>"+result[i].modDate+"</th><td>"+prevStatus+"</td>"
                        +"<td>"+status+"</span></td>"
                        +"<td>"+result[i].uid+"</td></tr>";
                }
            }
            $("tbody[name='historyBody']").html(str);
            $("div[name='history']").show();
       };

        $(document).on("click","button[name='registerBtn']",function (e){
            //업무 등록 버튼 눌렀을때
            e.preventDefault();

            var taskForm = $("form[name='taskForm']");
            var htmlStr = $("div.note-editable").html();

            $("input[name='taskContent']").val(htmlStr);

            taskForm.submit();

        })

        //페이징 버튼을 눌렀을 때
        $("a.page-link").on("click", function (event) {

            event.preventDefault(); // 링크의 기본 동작을 중단합니다.

            var pageNum = $(this).data("num");
            var mid = [[${mid}]];
            var type = [[${pageRequestDTO.type}]];
            var keyword = [[${pageRequestDTO.keyword}]];

            if(type != null && keyword!=null){
                var url = '/task/list/'+[[${pid}]]+'/'+[[${projectName}]]+'?page='+pageNum+'&type='+type+'&keyword='+keyword;
            }else{
                var url = '/task/list/'+[[${pid}]]+'/'+[[${projectName}]]+'?page='+pageNum;
            }
            window.location.href = url; // 새로운 URL로 이동합니다.
        });

    </script>

</th:block>

</html>

















