<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mona - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Mona - Model Agency HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="wrapper">
        <div class="cssload-loader"></div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="monaNav">

                <!-- Background Curve -->
                <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>

                <!-- Logo -->
                <a class="nav-brand" href="../main.html"><img src="./img/core-img/logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="current-item"><a href="../main.html">GroovUs Home</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="../main.html">- GroovUs Home</a></li>
                                    <li><a href="./about.html">- About Us</a></li>
                                    <li><a href="./projects.html">- Functions</a></li>
                                    <li><a href="./models.html">- GroovUs</a></li>
                                    <li><a href="./contact.html">- Login</a></li>
                                </ul>
                            </li>
                            <li><a href="./about.html">About Us</a></li>
                            <li><a href="./models.html">Functions</a></li>
                            <li><a href="./casting.html">GroovUs&nbsp&nbsp&nbsp;|</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>

                        <!-- Search Icon -->
                        <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                    <!-- Nav End -->

                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Top Search Area Start ***** -->
<div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close Button -->
                    <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <!-- Form -->
                    <form action="main.html" method="post">
                        <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Top Search Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img bg-img-1" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url('../img/bg-img/18.jpeg');"></div>


            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">협업의 비전,<br>
                                우리의 혁신</h2>
                            <h5 data-animation="bounceInUp" data-delay="600ms">GroovUs에서 발견하다.</h5>
                            <a href="#" class="btn groovus-access-btn" data-animation="bounceInUp" data-delay="800ms">GroovUs 이용하기<i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next Introduction</a>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url('../img/bg-img/19.jpg');"></div>

            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">효율적인<br>
                                일정관리</h2>
                            <h5 data-animation="bounceInUp" data-delay="600ms">팀원들과 함께 일정을 관리하며 협업의 유익을 누려보세요.</h5>
                            <a href="#" class="btn groovus-access-btn" data-animation="bounceInUp" data-delay="800ms">GroovUs 이용하기<i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next Introduction</a>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url('/img/core-img/curve.png');"></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url('../img/bg-img/20.jpg');"></div>

            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">프로젝트를<br>
                                한 눈에</h2>
                            <h5 data-animation="bounceInUp" data-delay="600ms">진행중인 프로젝트를 손 쉽게 확인해 보세요.</h5>
                            <a href="#" class="btn groovus-access-btn" data-animation="bounceInUp" data-delay="800ms">GroovUs 이용하기<i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next Introduction</a>
            </div>
        </div>

    </div>
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ***** About Us Area Start ***** -->
<section class="mona-about-us-area mb-30 section-padding-80-0">
    <div class="container">
        <div class="row">

            <!-- About Us Thumbnail -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <span class="line"></span>
                    <img src="./img/bg-img/16.jpg" alt="">
                    <span class="line2"></span>
                </div>
            </div>

            <!-- About Us Thumbnail -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="400ms">
                    <span class="line"></span>
                    <img src="./img/bg-img/17.jpg" alt="">
                    <span class="line2"></span>
                </div>
            </div>

            <!-- About Us Content -->
            <div class="col-12 col-lg-4">
                <div class="about-us-content mb-50 wow fadeInUp" data-wow-delay="700ms">
                    <h2>GroovUs</h2>
                    <p>추후 소개글 업로드 예정</p>
                    <p>추후 소개글 업로드 예정2</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Service Area -->
    <div class="container">
        <div class="service-area mt-80">
            <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <i class="icon_film"></i>
                        <h5>프로젝트 기능(제목)</h5>
                        <p>프로젝트 기능 소개</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
                        <i class="icon_calendar"></i>
                        <h5>탁월한 일정 관리</h5>
                        <p>팀원들과 함께 일정을 관리함으로 보다 편하고 즐거운 업무 효율을 기대해 보세요.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
                        <i class="icon_camera_alt"></i>
                        <h5>화상채팅(제목)</h5>
                        <p>화샹채팅(내용)</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
                        <i class="icon_house_alt"></i>
                        <h5>쪽지(제목)</h5>
                        <p>쪽지(내용)</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ***** About Us Area End ***** -->

<!-- ***** Client Feedback Area Start ***** -->
<section class="clients-feedback-area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="slider slider-for">

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Nazrul Islam</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Williams Rodney</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">
                        <div class="quote-icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="client-description text-center">
                            <h4>“Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”</h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>Producer</span>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Client Thumbnail Area -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="slider slider-nav">
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/6.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/7.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/8.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/6.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/7.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Client Feedback Area End ***** -->

<!-- ***** CTA Area Start ***** -->
<section class="mona-cta-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content">
                    <h2>Do You Want To Be A Partener?</h2>
                    <h6>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.</h6>
                    <a href="#" class="btn mona-btn">파트너사 신청하기</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Logo -->
                    <a href="#" class="d-block mb-4"><img src="./img/core-img/logo.png" alt=""></a>
                    <p>Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante sit amet ante.</p>
                    <div class="copywrite-text">
                        <p>&copy;
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Our Link</h4>

                    <!-- Catagories Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="#">New Faces</a></li>
                            <li><a href="#">Model Of the Week</a></li>
                            <li><a href="#">Classic Women</a></li>
                            <li><a href="#">Privacy Terms</a></li>
                            <li><a href="#">Classic Men</a></li>
                            <li><a href="#">Conditions</a></li>
                            <li><a href="#">Hair & Styles</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Contact</h4>
                    <!-- Footer Content -->
                    <div class="footer-content mb-30">
                        <h4>+01-3-8888-6868</h4>
                        <h6>40 Baria Sreet 133/2 NewYork City</h6>
                    </div>
                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->

<!-- ******* All JS ******* -->
<!-- jQuery js -->
<script src="js/jquery.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- All js -->
<script src="js/mona.bundle.js"></script>
<!-- Active js -->
<script src="js/default-assets/active.js"></script>

</body>

</html>