<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>쪽지함</title>
  <th:block layout:fragment="css">

    <style>

      #logoImg{
        background-color: #56c53d;
      }

      .messageTitle:hover{
        color: #0d4dff;
        cursor: pointer;
      }


    </style>

  </th:block>
</head>

<th:block layout:fragment="content">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">[[${projectName}]]</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">쪽지함</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">

              <div class="email-left-box"><a href="#" class="btn btn-primary btn-block" style="background-color: #56c53d;" id="sendMessage">쪽지쓰기</a>
                <div class="mail-list mt-4">
                  <a th:href="@{'/message/list/' + ${pid}+'/'+${#authentication.principal.mid}+'/'+${projectName}}" class="list-group-item border-0 text-primary p-r-0" id="MessageBox"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>쪽지함</b> <span class="badge badge-primary badge-sm float-right m-t-5" th:name="countall">0</span> </a>
                  <a th:href="@{'/message/list/' + ${pid}+'/'+${#authentication.principal.mid}+'/'+${projectName}+'?type=s&keyword='+${#authentication.principal.mid}}" class="list-group-item border-0 p-r-0" id="sendMessageBox"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i><b>보낸쪽지</b></a>
                  <a th:href="@{'/message/list/' + ${pid}+'/'+${#authentication.principal.mid}+'/'+${projectName}+'?type=d&keyword='+${#authentication.principal.mid}}" class="list-group-item border-0 p-r-0" id="trashMessageBox"><i class="fa fa-trash font-18 align-middle mr-2"></i><b>휴지통</b></a>
                </div>
              </div>

              <div class="email-right-box">
                <div role="toolbar" class="toolbar">
                  <div class="btn-group">
                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle" type="button">More <span class="caret m-l-5"></span>
                    </button>
                    <div class="dropdown-menu"><span class="dropdown-header">More Option :</span>  <a href="javascript: void(0);" class="dropdown-item">준비중</a>  <a href="javascript: void(0);" class="dropdown-item">준비중</a>  <a href="javascript: void(0);" class="dropdown-item">준비중</a>  <a href="javascript: void(0);" class="dropdown-item">준비중</a>
                    </div>
                  </div>
                </div>

                <!--메인콘텐츠쪽-->
                <div class="card-body" name="mainContent">

                  <div name="mainList">
                    <div class="card-title">
                      <h4>[[${#authentication.principal.uid}]]의 쪽지함</h4>
                    </div>
                    <div class="table-responsive" >
                      <table class="table">
                        <thead>
                        <tr>
                          <th>📬</th>
                          <th>제목</th>
                          <th>읽음/안읽음</th>
                          <th>전송일</th>
                          <th>보낸이</th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="message , i : ${responseDTO.dtoList}">
                              <tr>
                                <th>[[${i.index + responseDTO.start }]]</th>
                                <td name="messageTitle" class="messageTitle" th:data-lid="${message.lid}">[[${message.title}]]</td>
                                <td th:if="${#strings.equals(message.messageStatus, 'UNREAD')}"><span class="badge badge-danger px-2">안읽음</span></td>
                                <td th:if="${#strings.equals(message.messageStatus, 'READ')}"><span class="badge badge-light px-2">읽음</span></td>
                                <td> [[${#temporals.format(message.sendDate, 'yyyy/MM/dd')}]]</td>
                                <td class="color-primary">[[${message.sender}]]</td>
                              </tr>

                            </th:block>
                        </tbody>
                      </table>
                      <!--페이징-->
                      <div class="bootstrap-pagination">
                        <nav>
                          <ul class="pagination justify-content-end">
                            <li class="page-item" th:if="${responseDTO.prev}"><a class="page-link" th:data-num="1"><b><<</b></a>
                            </li>

                            <th:block th:each="i : ${#numbers.sequence(1,responseDTO.lastPage)}">
                              <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                              </li>
                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                              <a class="page-link" th:data-num="${responseDTO.lastPage}"><b>>></b></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                      <!--페이징 끝-->
                    </div>
                  </div>

                </div>

                <!-- 메인 콘텐트 끝 -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div name="writeMessageFormArea">

    <div class="email-right-box" style="margin-left: 0; display: none;" name="writeMessageForm">
      <div class="compose-content mt-5">
        <form action="#">
          <input type="hidden" name="sender" th:value="${#authentication.principal.uid}">
          <div class="form-group">
           <label for="receiver">받는사람</label>
            <br/>
            <span>
              <select name="memberSelect" style="width: 10rem;">
                <option value="">------</option>
                <!--여기에 멤버 리스트 들어갈 것-->


              </select>
            </span>
            <br/>
            <br/>
            <input type="text" class="form-control bg-transparent" placeholder=" To" id="receiver" name="receiver" readonly>
          </div>
          <div class="form-group">
            <input type="text" class="form-control bg-transparent" placeholder="제목" name="title">
          </div>
          <div class="form-group">
            <textarea name="content" class="textarea_editor form-control bg-light" rows="15" placeholder="Enter text ..."></textarea>
          </div>
        </form>

      </div>
      <div class="text-left m-t-15">
        <button class="btn btn-primary m-b-30 m-t-15 f-s-14 p-l-20 p-r-20 m-r-10" type="button" name="sendMessageBtn"><i class="fa fa-paper-plane m-r-5"></i> 보내기 </button>
        <button class="btn btn-dark m-b-30 m-t-15 f-s-14 p-l-20 p-r-20" type="button" name="sendCancleBtn"><i class="ti-close m-r-5 f-s-12"></i> 취소 </button>
      </div>
    </div>

  </div>
  <!--writeMessageFormArea끝-->

  <!--readMessageArea-->
  <div name="readMessageArea">

    <div class="email-right-box" name="readMessage" style="margin-left: 0; display: none;">
      <div class="toolbar" role="toolbar">

        <div class="btn-group m-b-20">
          <button type="button" class="btn btn-light" name="backBtn"><i class="fa-solid fa-list"></i></button>
          <button type="button" class="btn btn-light" name="deleteBtn"><i class="fa fa-trash"></i></button>
        </div>

      </div>
      <div class="read-content">
        <hr>
        <div class="media mb-4 mt-1">
          <div class="media-body">
            <span class="float-right" name="sendDate" >07:23 AM</span>
            <h4 class="m-0 text-primary" name="messageTitle">제목</h4>
            <small class="text-muted" name="sender">FROM: 보내는사람</small> <br/>
            <small class="text-muted" name="receiver">To: 받는사람</small>
          </div>
        </div>
        <hr>
        <input name="readMessageLid" type="hidden">
        <!--여기에 쪽지 내용-->
        <div name="messageContent">



        </div>
        <hr>
    </div>

    </div>
  </div><!--readMessageArea 끝-->
    <!-- #/ container -->

  <script th:inline="javascript">

    var mainList = $("div[name='mainList']"); //메인 리스트 저장
    var type = [[${pageRequestDTO.type}]];

    $(document).ready(function (){

      var pid = [[${pid}]];
      var mid = [[${#authentication.principal.mid}]];
      //멤버 정보 가져오기
      $.ajax({
        url:'/project/memberList',
        data:{'pid':pid},
        method:'post',
        success:function (result){
          insertMemberList(result);
        }
      });

      //전체 쪽지 수 가져오기
      $.ajax({
        url:'/message/count',
        data:{'pid':pid,
          'mid':mid
        },
        type:'post',
        success:function (result){
          $("span[name='countall']").text(result);
        }
      });

      //멤버 리스트 출력함수
      function insertMemberList(result){

        var selectList = $("select[name='memberSelect']");
        var str ='';
        for(var member of result){

          str+='<option value="'+member.mid+'">'+member.uid+'</option>';

        }
        selectList.append(str);
      }

      $("select[name='memberSelect']").change(function (){
        //받는 멤버 셀렉트에 변경이 있을 시
        $("input[name='receiver']").val($("select[name='memberSelect'] :selected").text());

      });


      $("#sendMessage").on("click",function (e){
        //쪽지 쓰기 버튼이 눌렸을 때
        e.preventDefault();

        var messageForm = $("div[name='writeMessageForm']");
        messageForm.show();
        $("div[name='mainContent']").html(messageForm);
      });

      if(type =='s'){

        $("#sendMessageBox").addClass("text-primary");
        $("#MessageBox").removeClass("text-primary");
        $("#trashMessageBox").removeClass("text-primary");

      }

      if(type =='d'){

        $("#sendMessageBox").removeClass("text-primary");
        $("#MessageBox").removeClass("text-primary");
        $("#trashMessageBox").addClass("text-primary");

      }




    }); //document.ready 끝

    $(document).on("click","button[name='sendCancleBtn']",function (e){
      //쪽지 쓰기 취소를 눌렀을 때
      e.preventDefault();

      var writeMessageForm = $("div[name='writeMessageForm']"); //쪽지 입력폼을
      $("div[name='writeMessageFormArea']").html(writeMessageForm); // 원래 있던 영역으로 옮김(안보이는 영역)
      writeMessageForm.hide(); //쪽지 입력폼 숨김
      $("div[name='mainContent']").html(mainList); // 미리 저장해놓았던 리스트를 다시 mainContent 영역에 넣음


    });

    $(document).on("click","button[name='sendMessageBtn']",function (e){
      //쪽지 전송 버튼이 눌렸을 때
      e.preventDefault();

      var title = $("input[name='title']").val();
      var content = $("textarea[name='content']").val();
      var receiver = $("input[name='receiver']").val();
      var sender = [[${#authentication.principal.uid}]];

      $.ajax({
        url:'/message/send',
        type:'post',
        data:{'title':title,
        'content':content,
        'receiver':receiver,
        'sender':sender ,
        'pid':[[${pid}]]},
        success:function (result){
          if(result=='success'){
            alert("쪽지를 보냈습니다");
            location.reload();
          }
        }
      }); //ajax끝

    });

    $(document).on("click","td[name='messageTitle']",function (e){
      //쪽지 제목이 클릭됐을 때
      var lid = $(this).data("lid");
      var mid = [[${#authentication.principal.mid}]]

      $.ajax({
        url:'/message/read',
        type:'post',
        data:{'lid':lid,
        'mid':mid},
        success:function (result){
          if(result != null){
            readMessageFunc(result);
          }
        }
      });

    });

    function readMessageFunc(result){

      $("span[name='sendDate']").text(result.sendDate);
      $("h4[name='messageTitle']").text(result.title);
      $("small[name='sender']").text("From:  "+result.sender);
      $("small[name='receiver']").text("To:  "+result.receiver);
      $("input[name='readMessageLid']").val(result.lid);
      $("div[name='messageContent']").html(result.content);

      $("div[name='mainContent']").html($("div[name='readMessage']").html());
    }

    $(document).on("click","button[name='backBtn']",function (e){
      //뒤로가기 버튼이 눌렸을 때
      e.preventDefault();
      $("div[name='mainContent']").html(mainList);
    });

    $(document).on("click","button[name='deleteBtn']",function (e){
      //쪽지 삭제 버튼이 눌렸을 때 (휴지통으로 이동함)
      e.preventDefault();

      if(type=='s'){
        alert("보낸 쪽지는 삭제가 불가합니다!");
        return;
      }else if(type == 'd'){
        alert("이미 삭제된 쪽지입니다!");
      }else {

        if(confirm("해당 쪽지를 삭제 하시겠습니까?")){

          var lid = $("input[name='readMessageLid']").val();

          $.ajax({
            url:'/message/delete',
            data:{'lid':lid},
            type:'post',
            success:function (result){
              if(result == 'success'){
                alert("쪽지가 삭제되었습니다.");
                location.reload();
              }
            }
          });
        }
      }
    });



  </script>




</th:block>




</html>